@import "public";

.addBtn, .saveBtn {
  display: inline-block;
  border: 2px solid #fff;
  height: 35px;
  line-height: 35px;
  text-align: center;
  background-color: @greenLight;
  width: 40%;
  margin: 0 auto;
  color: #fff;
  font-size: 14px;
  box-shadow: 0 3px 10px #c0c0c0;
  i {
    font-size: 28px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.addBtn {
  border-radius: 20px 0 0 20px;
  background-color: @greenLight;
  border-right: 0;
}

.saveBtn {
  border-radius: 0 20px 20px 0;
  background-color: @blueLight;
  margin-left: -3px;
}

.perList {
  .sum {
    display: flex;
    background-color: #fff;
    div {
      flex: 1;
      padding: 5px 20px;
      line-height: 40px;
      label {
        display: inline-block;
        line-height: 30px;
        width: 40%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        vertical-align: middle;
      }
      input {
        width: 50%;

      }

    }
  }
}

table {
  margin-top: 10px;
  width: 100%;
  text-align: center;
  background-color: #fff;
  td, th {
    padding: 5px 0;
  }
  tbody {
    tr {
      &:not(:last-child) td {
        border-bottom: 1px solid #f5f5f5;
      }
    }
  }
  input {
    width: 20vw;
  }
}

input {
  text-align: center;
  line-height: 30px;
  border: 0;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 0 5px;
}

.slide {
  margin-top: 10px;
  background-color: #fff;
  line-height: 40px;
  padding: 0 20px;box-shadow: 0px 4px 7px #acacac;
  .slideUp{
    color: #333;
    font-size: 18px;
    display: inline-block;
    width: 100%;
    text-align: center;
    i{
      margin-left: 10px;
    }
  }
}